/* You can add global styles to this file, and also import other style files */
body {
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.25s ease-in-out;
  position: relative;
  font-size: 18px;
  left: 0;
}
