.icon {
  cursor: pointer;
  display: block;
  width: 40px;
  height: 48px;
  float: left;
  margin: 20px;
  background-image: url(/assets/ui/card_icons.png);
  background-size: 378px;
  background-position-y: -48px;
  transition: all 0.25s ease-out;
}
.hover {
  background-position: 0 -96px;
}
