.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 1px rgb(0 0 0 / 50%);
  min-width: 16.5rem;
  max-width: 30rem;
}
.card:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  min-width: 16.5rem;
  max-width: 30rem;
  height: 7.2rem;
  margin-top: -1rem;
  background: #f9f9f9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  z-index: -1;
}

.horizontal_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.user_photo {
  background: #fff;
  padding: 0.3rem;
  width: 8.3rem;
  height: 8.3rem;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.user_photo img {
  width: 8.3rem;
  border-radius: 50%;
}
.icon-label {
  color: #999;
  font-size: 1rem;
  margin: 0;
}
.profile-value {
  color: #2c2e31;
  font-size: 2rem;
  margin: 0.3rem;
  text-transform: capitalize;
}
.icon-container {
  padding-bottom: 2rem;
}
