<div *ngIf="!!user" class="card">
  <div class="user_photo horizontal_center">
    <img [src]="user.picture?.large" alt="Profile picture" />
  </div>

  <p class="icon-label">
    {{ selectedIcon | portfolioCardLabel }}
  </p>
  <p class="profile-value">
    {{ user | randomUserProperty: selectedIcon }}
  </p>

  <div class="icon-container horizontal_center">
    <portfolio-test-icon
      *ngFor="let icon of icons; let first = first"
      [type]="icon"
      [hover]="selectedIcon === icon"
      (mouseover)="onMouseOverPortfolioTestIcon(icon)"
    ></portfolio-test-icon>
  </div>
</div>
