<portfolio-test-portfolio-card
  [user]="randomUser$ | async"
></portfolio-test-portfolio-card>
<ng-container *ngIf="error$ | async as error">
  <div class="error">
    {{ error.name }}
  </div>
  <div>
    {{ error.message }}
  </div>
</ng-container>
